<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <link rel="stylesheet" href="../css/content.css">
    </head>
    <body>
        <div class="container">
            <header>
                <h1>MEMO</h1>
            </header>
            
            <div class="memo-container">
                <h1 class="title">
                </h1>
                <h2 class="description">
                </h2>
                <div class="createdAt">
                    <span></span>
                </div>

                <p class="content">
                </p>
            </div>
        </div>
        <script src="../js/content.js"></script>
    </body>
</html>